#Useless or debugging files
AI4CUAV-YOLO_FORMAT/
demo/
__pycache__/
AfterSplit/
BeforeSplit/
coordinates/
ExtractedFrames/
misc/
runs/
test-source/
bestmodels/
archive/
GROUNDING-DINO/


datasetf_output/
.DS_Store

*.pt
*.jpg
*.png
*.json
*.deb
*.html
*.csv
*html
*.yaml
*.drawio


# Virtual Environments
venv/
env/
.venv/

# Audit and Clean Script Artifacts
audit_progress*
unmatched_report.txt
.processed_log
files_to_delete_V3*
.vercel
